name: .NET Docker Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test-in-docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t packml-tests .

      - name: Run tests in Docker container
        run: |
          docker run --rm -v ${{ github.workspace }}/TestResults:/src/TestResults packml-tests

      - name: Upload test results
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: TestResults/